version: 2.1
jobs:
  Version_Python:
    docker:
      - image: cimg/python:3.11.3
    steps:
      - run: python --version

  Docker:
    docker:
      - image: cimg/python:3.11.3
    steps:
      - checkout
      - run: docker --version

workflows:
  check:
    jobs:
      - Version_Python
      - Docker
